$theme-color: green;

$theme-color-light: lighten($theme-color, 10%);
$theme-color-dark: darken($theme-color, 10%);

$header-height: 150px;
$footer-color: black;

// h1 {
//   font-size: 1.2em;
//   color: $theme-color;
//   margin-bottom: 0;
// }
// h2 {
//   font-size: 2em;
//   margin-top: 0;
//   padding-top: 0;
// }

.mobile-menu {
  display: flex;
  min-height: 50px;
  left: 0;
  right: 0;
  background: $theme-color;
  position: fixed;
  .menu-link {
    margin-left: auto;
    min-height: 50px;
    cursor: pointer;
    
    //Box-shadow-menu is used to draw three lines (menu logo)
    .box-shadow-menu {
      margin: 0.5em 0.8em;
      position: relative;
      padding-left: 1.25em;
    }
    .box-shadow-menu:before {
      font-size: 30px;
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;
      width: 0.7em;
      height: 0.14em;
      background: white;
      box-shadow: 
        0 0.25em 0 0 white,
        0 0.5em 0 0 white;
    }
    .close-menu {
      padding: 5px 10px;
      font-size: 30px;
      color: white;
      cursor: pointer;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
    }
    // &:hover {
    //   background: black;
    // }
  }
}

.mobile-menu-screen {
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;  
  // background: red; /* Debug-color */
  background: $theme-color;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  animation-name: menu-slide;
  animation-duration: 0.5s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  .a-box {
    flex: 1;
    display: flex; 
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    // background: yellow; /* Debug-color */
    // .vertical-middle {
    //   background: purple; /* Debug-color */
    // }
    a {
      // background: blue; /* Debug-color */
      font-family: 'Raleway',sans-serif;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;    
      padding: 0;
      text-decoration: none;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 2px;
      display: inline-block;
      border-radius: 0px;
      &:visited, &:link {
        color: white;
      }
      &:hover, &.router-link-active {
        border-bottom: 2px solid white;
        margin-bottom: 0px;
        text-decoration: none;
      }
    }
  }

// &:hover {
//   animation: none;
// }
}

@keyframes menu-slide {
    0%   {bottom: 100%; top: -100%;}
    70% {bottom: 0%; top: 0%;}
    85% {bottom: 3%; top: -3%;}
    100%{bottom: 0; top: 50px;}

}

@keyframes menu-buttons-slide {
    0%   {bottom: 100%;}
    70%  {bottom: calc(100% - 142px);}
    85%  {bottom: calc(100% - 132px);}
    100%{bottom: calc(100% - 142px);}

}

.app {
  background: $footer-color;
  position: absolute;
  // margin: 0 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
}

.logo-bar {
  display: flex;
}

.menu-buttons {
  display: flex;
  width:100%;
  position: absolute;
  background: rgba($theme-color-light, $alpha: 0.5);
  animation-name: menu-buttons-slide;
  animation-duration: 0.5s;
  a {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    // font-weight: bold;
    text-transform: uppercase;    
    padding: 0px 0px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 0px;
    &:visited, &:link {
      color: white;
    }
    &:hover, &.router-link-active {
      // text-decoration: underline
      border-bottom: 2px solid white;
      text-decoration: none;
    }
  }
  } 

.header {
  background: linear-gradient( rgba(black, 0.6), rgba(black, 0.2) ), url("/images/jumbotron_full/jumbo1.jpg");
  background-size: cover;
  top:0;
	left:0;
}

.content-wrapper {
  display: flex;
  // margin: 0 2em -100px;
  margin: 0px 0px 0px;
  background: white;
  position: relative;
}

// .margin {
//   // width: 15%;
//   //  background: yellow;  //for debugging
// }
// .content {
//   // width: 70%;
// }

.pageinfo-bar {
  display: flex;
  width: 100%;
  min-height: 75px;
  background: rgba($theme-color-light, $alpha: 0.5);
  color: white;
  h1 {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
  }
  p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

.footer {
  color: white;
  background-color: $footer-color;
  text-align: center;
}

/* max-width */
@media screen and (max-width: 999px) {
  .app {
    top: 50px;
  }
  .menu-buttons {
    display: none;
  }
  .logo-bar {
    display: none;
  }
  .header {
    min-height: 400px;
  }  
}

/* min-width */
@media screen and (min-width: 1000px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-screen {
    display: none;
  }
  .header {
    min-height: 600px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .margin {
    width: calc((100% - 950px)/2);
  }
  .content {
    width: 950px;
  }
}

@media screen and (min-width: 1200px) {
  .margin {
    width: calc((100% - 1150px)/2);
  }
  .content {
    width: 1150px;
  }
}


/* min-width & max-width */
@media screen and (min-width: 750px) and (max-width: 999px) {
  .margin {
    width: calc((100% - 700px)/2);
  }
  .content {
    width: 700px;
  }
}

@media screen and (max-width: 749px) {
  .margin {
    width: 25px;
  }
  .content {
    width: calc(100% - 50px);
  }
} 

/* max device width */
@media screen and (max-device-width: 480px) {

}
Contact GitHub 